@model TvPlus.Infrastructure.ViewModels.PostCategoryViewModel
<div class="content__head">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h2 class="content__title"> اولین تلوزیون اینترنتی ایران</h2>

                <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab"
                           aria-controls="tab-1" aria-selected="true"> آخرین ویدیو ها</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab"
                           aria-controls="tab-2"
                           aria-selected="false">داغترین ها</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab"
                           aria-controls="tab-3"
                           aria-selected="false">جنجالی ترین ها </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab-4" role="tab"
                           aria-controls="tab-4"
                           aria-selected="false">پربازدیدترین ها</a>
                    </li>


                </ul>

                <div class="content__mobile-tabs" id="content__mobile-tabs">
                    <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation"
                         id="mobile-tabs"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <span></span>
                        <input type="button" value=" ایتم ها" />
                    </div>

                    <div class="content__mobile-tabs-menu dropdown-menu"
                         aria-labelledby="mobile-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="1-tab"
                                   data-toggle="tab"
                                   href="#tab-1" role="tab" aria-controls="tab-1"
                                   aria-selected="true">
                                    آخرین
                                    ودیو ها
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="2-tab"
                                   data-toggle="tab" href="#tab-2"
                                   role="tab" aria-controls="tab-2"
                                   aria-selected="false">داغترین ها</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="3-tab"
                                   data-toggle="tab" href="#tab-3"
                                   role="tab" aria-controls="tab-3"
                                   aria-selected="false">جنجالی ترین ها</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="4-tab"
                                   data-toggle="tab" href="#tab-4"
                                   role="tab" aria-controls="tab-4"
                                   aria-selected="false">پربازدیدترین ها</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
            <div class="row">
                @foreach (var item in Model.RecentVideos)
                {
                    <div class="col-6 col-sm-12 col-lg-6">
                        <div class="card card--list">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <div class="card__cover">
                                        <img src="~/UploadedFiles/Images/@item.Image" alt="" />
                                        <a href="/Post/@item.Id" class="card__play">
                                            <i class="icon ion-ios-play"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-8">
                                    <div class="card__content">
                                        <h3 class="card__title">
                                            <a href="/Post/@item.Id">
                                                @item.ShortTitle
                                            </a>
                                        </h3>
                                        <span class="card__category">
                                            <a href="/Post/@item.Id">@item.PublishDate</a>
                                        </span>

                                        <div class="card__wrap">
                                            <span class="card__rate">
                                                <i class="icon ion-ios-eye"></i>@item.ViewCount
                                                بازدید
                                            </span>

                                            @*<ul class="card__list">
                                                    <li>سینما</li>
                                                    <li>تلوزیون</li>
                                                </ul>*@
                                        </div>

                                        <div class="card__description">
                                            <p>
                                               @Html.Raw(item.Description)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
            <div class="row">
                @foreach (var item in Model.HottestPost)
                {
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="~/UploadedFiles/Images/@item.Image" alt="" />
                                <a href="/Post/@item.Id" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="/Post/@item.Id">
                                        @item.ShortTitle
                                    </a>
                                </h3>
                                @*<span class="card__category">
                                        <a href="#">Action</a>
                                        <a href="#">Triler</a>
                                    </span>*@
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>@item.ViewCount بازدید
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
            <div class="row">
                @foreach (var item in Model.ControversialPost)
                {
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="~/UploadedFiles/Images/@item.Image" alt="" />
                                <a href="/Post/@item.Id" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="/Post/@item.Id">
                                        @item.ShortTitle
                                    </a>
                                </h3>
                                <span class="card__category">
                                    @*<a href="#">نیما اسلامی</a>*@
                                    <a href="/Post/@item.Id">@item.PublishDate</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>@item.ViewCount بازدید
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="4-tab">
            <div class="row">
                @foreach (var item in Model.MostViewedPost)
                {
                    <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                        <div class="card">
                            <div class="card__cover">
                                <img src="~/UploadedFiles/Images/@item.Image" alt="" />
                                <a href="/Post/@item.Id" class="card__play">
                                    <i class="icon ion-ios-play"></i>
                                </a>
                            </div>
                            <div class="card__content">
                                <h3 class="card__title">
                                    <a href="/Post/@item.Id">
                                        @item.ShortTitle
                                    </a>
                                </h3>
                                <span class="card__category">
                                    @*<a href="#">نیما اسلامی</a>*@
                                    <a href="/Post/@item.Id">@item.PublishDate</a>
                                </span>
                                <span class="card__rate">
                                    <i class="icon ion-ios-eye"></i>@item.ViewCount بازدید
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>