@model TvPlus.Infrastructure.ViewModels.PostsByCategoryViewModel

<br />
<br />
<section class="section section--first section--bg" data-bg="/client/img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <h2 class="section__title">@Model.CategoryTitle</h2>

                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="/">خانه</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">@Model.CategoryTitle</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div class="filter">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="filter__content">
                        <div class="filter__items">
                            <div class="filter__item" id="filter__genre">
                                <span class="filter__item-label">ژانر :</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation"
                                     id="filter-genre" data-toggle="dropdown" aria-haspopup="true"
                                     aria-expanded="false">
                                    <input type="button" value="دسته بندی" />
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown"
                                    aria-labelledby="filter-genre">
                                    <li>سینما</li>
                                    <li>تلویزیون</li>
                                    <li>ورزشی</li>
                                    <li>اجتماعی</li>
                                    <li>تئاتر</li>
                                    <li>اخبار</li>
                                    <li>زیبایی</li>
                                    <li>سینما</li>
                                </ul>
                            </div>

                            <div class="filter__item" id="filter__quality">
                                <span class="filter__item-label">کیفیت:</span>

                                <div class="filter__item-btn dropdown-toggle" role="navigation"
                                     id="filter-quality" data-toggle="dropdown" aria-haspopup="true"
                                     aria-expanded="false">
                                    <input type="button" value="HD 1080" />
                                    <span></span>
                                </div>

                                <ul class="filter__item-menu dropdown-menu scrollbar-dropdown"
                                    aria-labelledby="filter-quality">
                                    <li>HD 1080</li>
                                    <li>HD 720</li>
                                    <li>DVD</li>
                                    <li>TS</li>
                                </ul>
                            </div>


                            <div class="filter__item" id="filter__year">
                                <span class="filter__item-label">سال ساخت :</span>

                                <div class="filter__item-btn dropdown-toggle" role="button" id="filter-year"
                                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="filter__range">
                                        <div id="filter__years-start"></div>
                                        <div id="filter__years-end"></div>
                                    </div>
                                    <span></span>
                                </div>

                                <div class="filter__item-menu filter__item-menu--range dropdown-menu"
                                     aria-labelledby="filter-year">
                                    <div id="filter__years"></div>
                                </div>
                            </div>
                        </div>

                        <button class="filter__btn" type="button">اعمال فیلتر</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<br />
<br />
<div class="catalog">
    <div class="container">
        <div class="row" dir="rtl">
            @foreach (var item in Model.PostList)
            {
                <div class="col-6 col-sm-12 col-lg-6">
                    <div class="card card--list">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="card__cover">
                                    <img src="~/UploadedFiles/Images/@item.Image" alt="" />
                                    <a href="#" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-12 col-sm-8">
                                <div class="card__content">
                                    <h3 class="card__title">
                                        <a href="/Post/@item.Id">
                                            @item.ShortTitle
                                        </a>
                                    </h3>
                                    <div class="card__wrap">
                                        <span class="card__rate">
                                            <i class="icon ion-ios-eye"></i>8.4
                                        </span>
                                        @*<ul class="card__list">
                                                <li>سینما</li>
                                                <li>بازیگران</li>
                                            </ul>*@
                                    </div>
                                    <div class="card__description">
                                        <span style="color:white;">
                                            @item.Title
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @*<div class="col-12">
                    <ul class="paginator paginator--list">
                        <li class="paginator__item paginator__item--prev">
                            <a href="#"><i class="icon ion-ios-arrow-back"></i></a>
                        </li>
                        <li class="paginator__item"><a href="#">1</a></li>
                        <li class="paginator__item paginator__item--active"><a href="#">2</a></li>
                        <li class="paginator__item"><a href="#">3</a></li>
                        <li class="paginator__item"><a href="#">4</a></li>
                        <li class="paginator__item paginator__item--next">
                            <a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
                        </li>
                    </ul>
                </div>*@
        </div>
    </div>
</div>

<section class="section section--bg" data-bg="/client/img/section/section.jpg" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="section__title">بهترین ها </h2>
            </div>

            @foreach (var item in Model.BestPosts)
            {
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="~/UploadedFiles/Images/@item.Image" alt="" />
                            <a href="/Post/@item.Id" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a href="/Post/@item.Id">
                                    @item.Title
                                </a>
                            </h3>
                            <span class="card__category">
                                @*<a href="#">امیر بهشتی</a>*@
                                <a href="/Post/@item.Id">@item.PublishDate</a>
                            </span>
                            <span class="card__rate"><i class="icon ion-ios-eye"></i>@item.ViewCount بازدید</span>
                        </div>
                    </div>
                </div>
            }

            @*<div class="col-12">
            <a href="#" class="section__btn"> بیشتر</a>
        </div>*@
        </div>
    </div>
</section>






