@{string siteName = "ASP.NET Core SEO Template";}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]- مجله ویدئویی تی وی پلاس</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    @if (ViewData["Title"] != null && !ViewData["Title"].Equals(""))
    {
        <title>@ViewData["Title"] - @siteName</title>
    }
    else
    {
        <title>@siteName</title>
    }
    @if (ViewData["MetaDescription"] != null && !ViewData["MetaDescription"].Equals(""))
    {
        <meta name="description" content="@ViewData["MetaDescription"]" />
    }
    <!-- CSS -->
    <link rel="stylesheet" href="/Client/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/Client/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/Client/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/Client/css/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="/Client/css/nouislider.min.css" />
    <link rel="stylesheet" href="/Client/css/ionicons.min.css" />
    <link rel="stylesheet" href="/Client/css/plyr.css" />
    <link rel="stylesheet" href="/Client/css/photoswipe.css" />
    <link rel="stylesheet" href="/Client/css/default-skin.css" />
    <link rel="stylesheet" href="/Client/css/swiper.min.css" />
    <link rel="stylesheet" href="/Client/css/main.css" />
    <link href="~/Client/plugins/toastr.js/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/Client/MyStyles.css" rel="stylesheet" />
    <!-- Favicons -->
    @*<link rel="icon" type="image/png" href="icon/fave.png" sizes="32x32">
        <link rel="apple-touch-icon" href="icon/fave.png">*@

    <title></title>
</head>
<body>
    <div class="page-wrapper">
        @await Component.InvokeAsync("MenuCategory")
    </div>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="footer mt-5">
        <div class="container">
            <div class="row" style="text-align: right">
                <!-- footer list -->
                @*<div class="col-12 col-md-3">
                        <h6 class="footer__title">دانلود نرم افزار تی وی پلاس </h6>
                        <ul class="footer__app">
                            <li><a href="#"><img src="~/Client/img/Download_on_the_App_Store_Badge.svg" alt=""></a></li>
                            <li><a href="#"><img src="~/Client/img/google-play-badge.png" alt=""></a></li>
                        </ul>
                    </div>*@
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-4">
                    <h6 class="footer__title"><a href="/about-us" style="color:inherit">درباره ما</a></h6>
                    <ul class="footer__list">
                        <li><a href="#">بیوگرافی و تاریخچه شکل گیری</a></li>
                        <li><a href="#">واحد بازرگانی</a></li>
                        @*<li><a href="#">راهنما</a></li>*@
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-6 col-sm-4 col-md-4">
                    <h6 class="footer__title">قوانین</h6>
                    <ul class="footer__list">
                        <li><a href="#">چگونگی استفاده</a></li>
                        <li><a href="#">حریم شخصی</a></li>
                        <li><a href="#">قوانین سایت</a></li>
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer list -->
                <div class="col-12 col-sm-4 col-md-4">
                    <h6 class="footer__title">تماس با ما</h6>
                    <ul class="footer__list">
                        <li><a href="tel:02122242062">02122242062</a></li>
                        <li><a href="info@plus.com">info@plus.com</a></li>
                    </ul>
                    <ul class="footer__social">
                        @*<li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>*@
                        @*<li class="facebook"><a href="#"><i class="icon ion-logo-facebook"></i></a></li>*@
                        <li class="instagram"><a href="https://www.instagram.com/tvpluss" target="_blank"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="instagram"><a href="https://www.youtube.com/tvpluss" target="_blank"><i class="icon ion-logo-youtube"></i></a></li>

                        <li class="instagram">
                            <a href="https://www.telegram.com/tvpluss" target="_blank">
                                <svg width="24px" height="24px" style="margin-bottom: 10px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule: evenodd; clip-rule: evenodd; stroke-linejoin: round; stroke-miterlimit: 1.41421;"><path style="fill: #24A2E0" id="telegram-1" d="M18.384,22.779c0.322,0.228 0.737,0.285 1.107,0.145c0.37,-0.141 0.642,-0.457 0.724,-0.84c0.869,-4.084 2.977,-14.421 3.768,-18.136c0.06,-0.28 -0.04,-0.571 -0.26,-0.758c-0.22,-0.187 -0.525,-0.241 -0.797,-0.14c-4.193,1.552 -17.106,6.397 -22.384,8.35c-0.335,0.124 -0.553,0.446 -0.542,0.799c0.012,0.354 0.25,0.661 0.593,0.764c2.367,0.708 5.474,1.693 5.474,1.693c0,0 1.452,4.385 2.209,6.615c0.095,0.28 0.314,0.5 0.603,0.576c0.288,0.075 0.596,-0.004 0.811,-0.207c1.216,-1.148 3.096,-2.923 3.096,-2.923c0,0 3.572,2.619 5.598,4.062Zm-11.01,-8.677l1.679,5.538l0.373,-3.507c0,0 6.487,-5.851 10.185,-9.186c0.108,-0.098 0.123,-0.262 0.033,-0.377c-0.089,-0.115 -0.253,-0.142 -0.376,-0.064c-4.286,2.737 -11.894,7.596 -11.894,7.596Z" /></svg>
                            </a>
                        </li>
                        @*<li class="twitter"><a href="#"><i class="icon ion-logo-twitter"></i></a></li>*@
                        @*<li class="vk"><a href="#"><i class="icon ion-logo-vk"></i></a></li>*@
                    </ul>
                </div>
                <!-- end footer list -->
                <!-- footer copyright -->
                <div class="col-12">
                    <div class="footer__copyright">
                        <small>© طراحی شده توسط <a href="https://www.spad.co/" target="_blank">اسپاد</a></small>

                        <ul>
                            <li><a href="#">تمامی حقوق برای تی وی پلاس محفوظ است</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end footer copyright -->
            </div>
        </div>
    </footer>
    <!--JS-->

    <script src="~/Client/js/jquery-3.5.1.min.js"></script>
    <script src="~/Client/js/bootstrap.bundle.min.js"></script>
    <script src="~/Client/js/owl.carousel.min.js"></script>
    <script src="~/Client/js/jquery.mousewheel.min.js"></script>
    <script src="~/Client/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/Client/js/wNumb.js"></script>
    <script src="~/Client/js/swiper.min.js"></script>
    <script src="~/Client/js/jquery.morelines.min.js"></script>
    <script src="~/Client/js/plyr.min.js"></script>

    <script src="~/Client/js/main.js"></script>
    <script src="~/Client/js/swiper.min.js"></script>

    <script>
        var swiper4 = new Swiper('.wiper-slide2', {
            autoplay: {
                delay: 3000,
            }
        });


        var swiper2 = new Swiper('.swiper-container2', {
            effect: 'coverflow',
            grabCursor: true,
            loop: true,
            centeredSlides: true,
            centeredSlidesBounds: true,
            centerInsufficientSlides: true,
            slidesPerView: 'auto',
            speed: 5000,
            grabCursor: true,
            watchSlidesProgress: true,
            mousewheelControl: true,
            keyboardControl: true,
            autoplay: {
                delay: 3000,
            },
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,

            },
            pagination: {
                el: '.swiper-pagination',
            },

        });
        var swiper = new Swiper('.swiper-container1', {
            autoplay: {
                delay: 5000,
            },
            cssMode: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination'
            },
            mousewheel: true,
            keyboard: true,
        });


        $(".slow-carousel").owlCarousel({
            loop: true,
            autoplay: true,
            slideTransition: 'linear',
            autoplaySpeed: 8000,
            smartSpeed: 3000,
            center: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        });
        $(".slow-carousel2").owlCarousel({
            loop: true,
            autoplay: true,
            slideTransition: 'linear',
            autoplaySpeed: 9000,
            smartSpeed: 2000,
            center: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        });

        $(".owl-carousel-top").owlCarousel({
            loop: true,
            nav: true,
            touchDrag: true,
            mouseDrag: true,

            slideBy: 2,
            margin: 50
            , responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        });

    </script>
    <script src="~/Client/js/main.js"></script>
    <script src="~/Client/HeaderJs/jquery.waypoints.min.js"></script>
    <script src="~/Client/HeaderJs/superfish.min.js"></script>
    <script src="~/Client/HeaderJs/main.js"></script>
    <script src="~/Client/plugins/toastr.js/toastr.min.js"></script>
    <script src="~/Client/plugins/toastr.js/config.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>