@model TvPlus.Core.Models.ContactUsInfo
<br />
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <h2 class="section__title">تماس با ما</h2>

                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="/">خانه</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">تماس با ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <h2 class="section__title">تماس با ما</h2>
                    </div>

                    <div class="col-12">
                        <form action="#" class="form form--contacts">
                            <input type="text" class="form__input" placeholder="نام و نام خانوادگی" />
                            <input type="text" class="form__input" placeholder="ایمیل" />
                            <input type="text" class="form__input" placeholder="موضوع" />
                            <textarea id="text" name="text" class="form__textarea"
                                      placeholder="متن خود را بنویسید..."></textarea>
                            <button type="button" class="form__btn">ارسال</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-5 col-lg-4">
                <div class="row">
                    <div class="col-12">
                        <h2 class="section__title">اطلاعات</h2>
                    </div>

                    <div class="col-12">
                        <span class="section__text" style="color:white">
                           @Html.Raw(Model.Description)
                        </span>

                        <ul class="contacts__list">
                            <li><a href="tel:+18002345678">@Model.Tel</a></li>
                            <li><a href="mailto:info@Plus.ir">info@Plus.ir</a></li>
                        </ul>
                        <ul class="contacts__social">
                            <li class="facebook"><a href="@Model.Facebook"><i class="icon ion-logo-facebook"></i></a></li>
                            <li class="instagram">
                                <a href="@Model.Instagram"><i class="icon ion-logo-instagram"></i></a>
                            </li>
                            <li class="twitter"><a href="@Model.Twitter"><i class="icon ion-logo-twitter"></i></a></li>
                            <li class="vk"><a href="@Model.Youtube"><i class="icon ion-logo-vk"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>













